.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}

.row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 1% 0;
}

.filled,
.empty  {
  width: 60px;
  height: 60px;
  border: 2px solid black;
  text-align: center;;
}

.filled.green {
  background-color: green;
}

.filled.yellow {
  background-color: yellow;
}

.filled.black {
  background-color: black;
  color: #fff
}

.filled p {
  font-size: 28px;
  margin: 13px 0px;
}

.keyboard {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.keyboard button {
  width: 30px;
  height: 30px;
}

.keyboard button.action {
  width: 48px;
  height: 30px;
}

@media screen and (min-width: 600px) {
  
}

