.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}

.row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 1% 0;
}

.tile {
  width: 60px;
  height: 60px;
  border: 2px solid black;

}

@media screen and (min-width: 600px) {
  
}

